html{
    padding: 0;
    margin: 0;
}
body{
 
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: lightcyan;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    width: 100%;

}

.centralizar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}



#inText {
  width: 80vw;
  height: 50vh;
  font-size: 16px;
  column-fill: 100%;
  grid-auto-rows:100%;
  margin:30px;
}

#CreateButton{
    margin: 30px;
    padding: 20px 40px;
    font-size: 16px;
}
#Output{
    display: none;
    position:fixed;
    top:10%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    padding: 30px;

    overflow: auto;

}
#close{
    display: block;
    position:absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;

}
