/*      GALERIA       */
   .Galeria{
    margin:0;
    
    padding:0;
    position:relative;
    display: inline-block;
    height:70vh;
    max-height:500px;
    width:90vw;
    left:50vw;
    transform:translateX(-50%);
}
.imagen{
        position:relative;
        display:block;
        
        max-width: 100%;
        max-height:100%;
        margin-left:50%;
        transform:translateX(-50%);
      margin-top:50%;
      transform:translateY(-50%);
  
        
    }
.botonIZQ,.botonDER{
    border: 0ch;
    background: none;
    height: 200px;
    width: 100px;
    color:white;
    text-shadow: 2px 2px black;
    font-size: larger;
}
.botonDER:hover,.botonIZQ:hover{
    background-color: grey;
    opacity: 50%;
}

.botonIZQ{
    position:absolute;
    
    left: 20%;
    top:50%;
    transform: translateY(-50%);

}
.botonDER{
    position:absolute;
    right:20%;
    top:50%;
    transform: translateY(-50%);

}
/*   fin Galeria*/



@media screen and (max-width: 800px) {
    

    /*     Galeria responsive*/
    .botonDER{
        right: 0%;
    }
    .botonIZQ{
        left:0%;
    }
    /*      Fin Galeria responsive*/


}
